body {
  text-align: center;
}
h1 {
  margin: 1em 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
ol {
  text-align: left;
}
#instructions {
  width: 300px;
  margin: 4em auto;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
#earningsWidget {
  margin: auto;
}
.poweredBy {
  font-size: 0.85em;
  margin-top: -10px;
  color: #666;
}

/* Small screens */
@media (max-width: 420px) {
  #instructions {
    width: 270px;
    margin: 2em auto;
  }
}
